DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USER=your_db_username
DB_PASSWORD=your_db_password

JWT_ISSUER_URI=http://localhost:8081/realms/ITResurceManager
JWT_JWK_SET_URI=http://localhost:8081/realms/ITResurceManager/protocol/openid-connect/certs

KEYCLOAK_ADMIN_URL=http://localhost:8081
KEYCLOAK_REALM=ITResurceManager
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
